// screen.scss

@import "reset.scss";

h2 {
	width: 95%;
	margin: 0.625em 0 0 0.625em;
	border-bottom: 1px solid #CCC;
}

#wrap {
	width: 60em;
	margin: 1em auto 0 auto;
}

#shapeContainer {
	width: 29.375em;
	height: 50em;
	float: left;
	border: 1px solid #777;
	margin: 0 1em 0 0;
	overflow:auto;
	//CSS3 box-shadow
	box-shadow: 0 0 2px 2px #DDD;
	-moz-box-shadow: 0 0 2px 2px #DDD;
	-webkit-box-shadow: 0 0 2px 2px #DDD;
}

#programContainer {
	@extend #shapeContainer;
	margin:  0;
}

#variableShape {
	width: 100%;
	min-height: 30em;
	background: url('../images/var_bg.png') transparent no-repeat 0 0;
}

#forShape {
	@extend #variableShape;
	background: url('../images/for_loop_bg.png') transparent no-repeat 0 0;
}

#functionShape {
	@extend #variableShape;
	background: url('../images/function_bg.png') transparent no-repeat 0 0;
}

#collectionShape {
	@extend #variableShape;
	background: url('../images/collection_bg.png') transparent no-repeat 0 0;
}

#elseifShape {
	@extend #variableShape;
	background: url('../images/elseif_bg.png') transparent no-repeat 0 0;
}

#expressionShape {
	@extend #variableShape;
	background: url('../images/expression_bg.png') transparent no-repeat 0 0;
}

#ifShape {
	@extend #variableShape;
	background: url('../images/if_bg.png') transparent no-repeat 0 0;
}