/* screen.scss */

#wrap {
	width: 100%;
}

#shapeContainer {
	width: 45%;
	height: auto;
	float: left;
	border: 1px solid #000;
}

#programContainer {
	@extend #shapeContainer;
	float: right;
}

#variableShape {
	width: 640px;
	height: 480px;
	background-image: url('../images/var.png');
}

#forShape {
	@extend #variableShape;
	background-image: url('../images/for_loop.png');
}

#functionShape {
	@extend #variableShape;
	background-image: url('../images/function.png');
}